/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$link-color: #5d6d74;
$hover-color: lighten($link-color, 40%);

/*-- scss:defaults --*/

$font-size-base:              2.5rem !default;
$headings-font-weight:        700 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size: 1.2rem !default;


$toc-font-size: 0.95rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.95rem;
$footer-font-size: 0.95rem;

$link-color: $red;
$link-hover-color: $yellow;

$body-color:                $gray-900 !default;
$body-bg:                   $white !default;

// Block code
$monokai-bg: #2e3440;

$background: #D9F9DF;

$navbar-padding-y:                  $spacer * 0.5 !default;
$navbar-padding-x:                  null !default;

$navbar-brand-font-size:            $font-size-lg !default;
/*-- scss:rules --*/

}
h2 {
  color: #2e3440;
  background-color: #EB5B00;
  border-block-style: solid;
}

h3 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

ul,
ol {
  font-family: $font-family-serif;
}


// Slightly bigger callouts
.callout.callout-style-default .callout-body,
.callout.callout-style-default > div.callout-header {
  font-size: 1.1rem;
}

.callout-icon-container {
  padding-top: 0 !important;
}




.center {
  text-align: center;
}



.infobox {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  border: 5px solid #1E1656;
  border-radius: 10px;
  background: #D9F9DF 5px center/3em no-repeat;
}
